@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fuzzy+Bubbles&family=Poppins:wght@700&family=Questrial&family=Varela+Round&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a. a:link, a:visited{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

section{
    font-family: 'Poppins', sans-serif;
    padding: 5rem 0;

}

section:nth-child(2n){
    background-color: #f8f8f8;
}

section .about-self::after{
    content: "";
    clear: both;
    display: block;
}

section .title{
    margin-bottom: 3rem;
}
section .title h4{
    font-size: 1.35rem;
    color: #ed4848;
    position: relative;
}

section .title h2{
    font-size:  3.5rem;
}

section .title p{
    font-size: 1.15rem;
}