h1{
	font-size: 57px;
	text-align: center;
	margin-top: 100px;
}
.site{
	display: block;
	text-align: center;
	margin-top: 100px;

}
#facebook{
	margin-right: 20px;
	size: 700px;
}
#instagram{
	margin-right: 20px;
}