body{
	margin: 0;
}
#navbar{
	padding: 0 20px;
	border-bottom: 1px solid black;
	overflow: hidden;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.50);
	height: 60px;
}
.helper1{
  display: inline-block;
  vertical-align: middle;
}
#logo{
  float: left;

  line-height: 60px;
}
#logo img{
  height: 100%;
	vertical-align: middle;
}
#navbar ul{
	margin: 0;

}
#navbar li{
	float: right;
	list-style: none;


}
#navbar li a{
	text-decoration: none;
	margin-right: 12px;
}
#main{
	background-image: url(background.webp);
	height: 670px;
	background-size: cover;
	background-position: center center;
	text-align: center;
}
.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#slogan{
	display: inline-block;
	vertical-align: middle;
}

#main #slogan h1{
	font-size: 36px;	
	margin: 0;
	margin-bottom: 13px;
	color: white;
	font-weight: 400;
}