*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .weather{ */
    /* position: absolute; */
    /* text-align: right;
    margin-right: 100px;
    font-size: 21px;
} */

.weather {
    
    position: fixed;
    top: 50px;
    right: 100px;
    z-index: 9999;
    font-size: 32px;
}