#serif{
  font-family: "Times New Roman", serif;
}
#sans-serif{
  font-family: "Arial", Sans-Serif;
}
#monospace{
  font-family: "Courier", Monospace;
}
#cursive{
  font-family: "Comic Sans MS", cursive;
}
#fantasy{
  font-family: "Impact", fantasy;
}
#google{
  font-family: 'Barrio', cursive;
